@model Ticketist.ViewModels.RolesBooleanViewModel

@{
    ViewBag.Title = "EditRoles";
}

<h2>Edit Roles</h2>

@using (Html.BeginForm("SaveRole", "Account"))
{
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.CanManageOrganizations) Admin (Can Manage Organizations)
        </label>
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.CanManageProjects) Supervisor (Can Manage Projects)
        </label>
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.CanManageTeams) Project Manager (Can Manage Teams)
        </label>
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.CanManageTickets) User (Can Manage Tickets)
        </label>
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
