@using Ticketist.Models
@model Ticketist.ViewModels.OrganizationsViewModel

@{
    ViewBag.Title = "Organizations";
}

<h2>Organizations</h2>

@Html.ActionLink("New Organization", "Add", "Organizations", null, new { @class = "btn btn-primary" })
<br />
<br />
@Html.ActionLink("Search Organization", "Search", "Organizations", null, new { @class = "btn btn-info" })
<br/>
<br/>

@if (!Model.Organizations.Any())
{
    <text>There are no organizations.</text>
}
else
{
    <table id="organizations" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Organization</th>
                <th>Code</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var organization in Model.Organizations)
            {
                <tr>
                    <td>@Html.ActionLink(organization.Name, "Details", "Organizations", new { id = organization.Id }, null)</td>
                    <td>@organization.Code</td>
                    <td>@Html.ActionLink("Delete", "Delete", "Organizations", new { id = organization.Id }, new { @class = "btn btn-danger" })</td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#organizations").DataTable();
        });
    </script>
}
