@model Ticketist.Models.Comment
@{
    ViewBag.Title = "New Comment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Id == 0)
{
    <h2>New Comment</h2>
}
else
{
    <h2>Edit Comment</h2>
}

@using (Html.BeginForm("Save", "Comments"))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.CreationDate)
    @Html.HiddenFor(m => m.User)
    @Html.HiddenFor(m => m.TicketId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}